<div class="ui segments">

    <div class="ui segment">
        <h1>ანგარიშის შექმნა</h1>
    </div>
    
    <div class="ui segment">

        <form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="nine wide field">
                <label>ანგარიშის სახელი</label>
                <div class="ui input">
                    <input type="text" id="account" formControlName="account">
                </div>

                <bg-validation-message [control]="form.get('account')"></bg-validation-message>
            </div>

            <div class="nine wide field">
                <label>თანხა</label>
                <div class="ui input">
                    <input type="number" id="amount" formControlName="amount">
                </div>

                <bg-validation-message [control]="form.get('amount')"></bg-validation-message>
            </div>
            
            <button class="ui blue icon button" type="submit">
                <i class="save icon"></i>
            </button>
        </form>

    </div>
    
</div>
