<div *ngIf="authorizedService.isVisibleClientHeader" class="ui bottom-margin segments" >
    
    <div class="ui segment;">

        <div class="ui segment" style="display: flex;">

            <img src={{image}} class="img">

            <div class="ui grid custom-grid">

                <div class="three column zero-top-padded row">
                    <div class="left floated column">
                        <p class="bold" > {{ firstname }} {{ lastName }} </p>
                    </div>
                    
                    <div class="right floated cli-info column">
                        <div class="left-column-width">
                            <label class="lightgrey"> აქტივები: </label>
                        </div>

                        <div class="middle-column-width"></div>

                        <div class="bold middle-column-width">
                            <p class="limegreen"> {{ sumAmount | styleNumber }} </p>
                        </div>

                        <div class="bold right-column-width">
                            <p>GEL</p>
                        </div>
                    </div>
                </div>
                
                <div class="three column zero-top-padded row">
                    <div class="right floated cli-info column">
                        <div class="left-column-width">
                            <label class="lightgrey"> Plus: </label>
                        </div>

                        <div class="middle-column-width"></div>

                        <div class="bold middle-column-width">
                            <p> {{ plusPoints }} </p>
                        </div>

                        <div class="bold right-column-width"></div>
                    </div>
                </div>
                
                <div class="row"></div>
                
                <div class="three column zero-top-padded zero-bottom-padded row">
                    <div class="left floated last-row column">
                        <p class="zero-margin lightgrey" > უნიკალური კოდი: </p>
                        <p class="bold"> {{ clientKey }} </p>
                    </div>

                    <div class="right floated column">
                        <div class="ui right floated red button" (click)="removeClient()">გასვლა</div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <div class="ui horizontal segments">
        <a [routerLink]="['/krn/krnicp']" routerLinkActive="active" class="ui nav segment">
            მთავარი
        </a>

        <a [routerLink]="['/krn/accounts']" routerLinkActive="active" class="ui nav segment">
            ანგარიშები
        </a>
        
        <a [routerLink]="['/krn/operations']" routerLinkActive="active" class="ui nav segment">
            ოპერაციები
        </a>
    </div>

</div>
