<div class="ui bottom-margin segments" >
    
    <div class="ui segment;">

        <div class="ui segment" style="display: flex;">

            <img src="../../../assets/images/cc.jpg" class="img">

            <div class="ui grid custom-grid">

                <div class="three column zero-top-padded row">
                    
                    <div class="left floated column">
                        <p class="bold" > Test 4 Test </p>
                    </div>
                    
                    <div class="right floated cli-info column">

                        <div class="left-column-width">
                            <label class="lightgrey"> აქტივები: </label>
                        </div>

                        <div class="middle-column-width"></div>

                        <div class="bold middle-column-width">
                            <p class="limegreen"> 100000 </p>
                        </div>

                        <div class="bold right-column-width">
                            <p>GEL</p>
                        </div>

                    </div>
                    
                </div>
                
                <div class="three column zero-top-padded row">

                    <div class="right floated cli-info column">

                        <div class="left-column-width">
                            <label class="lightgrey"> Plus: </label>
                        </div>

                        <div class="middle-column-width"></div>

                        <div class="bold middle-column-width">
                            <p> 50000 </p>
                        </div>

                        <div class="bold right-column-width"></div>

                    </div>

                </div>
                
                <div class="row"></div>
                
                <div class="three column zero-top-padded zero-bottom-padded row">

                    <div class="left floated last-row column">
                        <p class="zero-margin lightgrey" > უნიკალური კოდი: </p>
                        <p class="bold">18</p>
                    </div>

                    <div class="right floated column">
                        <div class="ui right floated red button">გასვლა</div>
                    </div>

                </div>

            </div>
            
        </div>

    </div>

    <div class="ui horizontal segments">

        <div class="ui segment nav">
            მთავარი
        </div>

        <div class="ui segment nav">
            ანგარიშები
        </div>
        
        <div class="ui segment nav">
            ოპერაციები
        </div>

    </div>

</div>
