<form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="field">
        <div class="ui left icon input">
            <i class="address card icon"></i>
            <input type="text" placeholder="სახელი" id="wholename" formControlName="wholename">
        </div>

        <bg-validation-message [control]="form.get('wholename')"></bg-validation-message>
    </div>

    <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" placeholder="მომხმარებელი" id="username" formControlName="username">
        </div>

        <bg-validation-message [control]="form.get('username')"></bg-validation-message>
    </div>

    <div class="field" formGroupName="userData"> 

        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="პაროლი" id="password" formControlName="password">
            </div>

            <bg-validation-message [control]="form.get('userData.password')"></bg-validation-message>
        </div>

        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="განმეორებითი პაროლი" id="repPassword" formControlName="repPassword">
            </div>

            <bg-validation-message [control]="form.get('userData.repPassword')"></bg-validation-message>
        </div>

        <bg-validation-message [control]="form.get('userData')"></bg-validation-message>
    </div>

    <div class="field">
        <a [routerLink]="['../']" routerLinkActive="active">
            <span  class="ui orange text">შესვლა</span>
        </a>

        <button class="ui basic orange right floated button" type="submit">
            <i class="sign in  icon"></i>
            რეგისტრაცია
        </button>
    </div>
    
</form>
