<div class="field">

    <div class="ui left icon input">
        <i class="address card icon"></i>
        <input type="text" placeholder="სახელი">
    </div>

</div>

<div class="field">

    <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" placeholder="მომხმარებელი">
    </div>

</div>

<div class="field">

    <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="text" placeholder="პაროლი">
    </div>

</div>

<div class="field">

    <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="text" placeholder="განმეორებითი პაროლი">
    </div>

</div>

<div class="field">
    
    <span class="ui orange text">შესვლა</span>

    <button class="ui basic orange right floated button">
        <i class="sign in  icon"></i>
        რეგისტრაცია
    </button>
</div>
