<div class="ui segments">

    <div class="ui segment">
        <h1>კლიენტის ძებნა</h1>
    </div>

    <div class="ui segment">

        <div class="ui bordered segment">

            <div class="ui form">
            
                <div class="ui three column grid">

                    <div class="column">
                        <div class="field">
                            <label>სახელი</label>
                            <div class="ui input">
                                <input type="text">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label>გვარი</label>
                            <div class="ui input">
                                <input type="text">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label>კლიენტის უნიკალური</label>
                            <div class="ui input">
                                <input type="number">
                            </div>  
                        </div>
                    </div>

                </div>

                <div class="ui one column grid">
                    <div class="column">
                        <div class="ui right floated blue icon button">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
    </div>

    <div class="ui segment" style="display: none;">
        
        <div class="table-header">
            <span>კლიენტები</span>
            
            <div class="ui icon button">
                <i class="plus icon"></i>
            </div> 
        </div>
        
        <table>
            <thead>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>კლიენტის უნიკალური</th>
            </thead>
        
            <tbody>
                <tr>
                    <td> none </td>
                    <td> none </td>
                    <td> none </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
