<div class="ui segments">

    <div class="ui segment">
        <h1>კლიენტის ძებნა</h1>
    </div>

    <div class="ui segment">

        <div class="ui bordered segment">

            <form class="ui form"[formGroup]="form" (ngSubmit)="onSubmit()">
            
                <div class="ui three column grid">

                    <div class="column">
                        <div class="field">
                            <label>სახელი</label>
                            <div class="ui input">
                                <input type="text" formControlName="firstname">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label>გვარი</label>
                            <div class="ui input">
                                <input type="text" formControlName="lastname">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label>კლიენტის უნიკალური</label>
                            <div class="ui input">
                                <input type="number" formControlName="id">
                            </div>  
                        </div>
                    </div>

                </div>

                <div class="ui one column grid">
                    <div class="column">
                        <button class="ui right floated blue icon button" type="submit">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
        
            </form>

        </div>
    </div>

    <div class="ui segment" *ngIf="called">
        
        <div class="table-header">
            <span>კლიენტები</span>
            
            <div [routerLink]="['/bpm/bpm001']" routerLinkActive="active" class="ui icon button">
                <i class="plus icon"></i>
            </div> 
        </div>
        
        <table> 
            <p *ngIf="!clients.length">ჩანაწერი ვერ მოიძებნა</p>
            <table *ngIf="clients.length">
                <thead>
                    <th>სახელი</th>
                    <th>გვარი</th>
                    <th>კლიენტის უნიკალური</th>
                </thead>
            
                <tbody>
                    <tr *ngFor="let client of clients" (click)="forwardToClientPage(client)">
                        <td> {{ client.firstName }} </td>
                        <td> {{ client.lastName }} </td>
                        <td> {{ client.clientKey }} </td>
                    </tr>
                </tbody>
            </table>
        </table>

    </div>

</div>
