<div class="ui segments">

    <div class="ui segment">
        <h1>კლიენტის რეგისტრაცია</h1>
    </div>
    
    <div class="ui segment">

        <div class="ui form">

            <div class="nine wide field">
                <label>სახელი</label>
                <div class="ui input">
                    <input type="text">
                </div>
            </div>

            <div class="nine wide field">
                <label>გვარი</label>
                <div class="ui input">
                    <input type="text">
                </div>
            </div>

            <div class="nine wide field">
                <label>Plus ქულები</label>
                <div class="ui input">
                    <input type="text">
                </div>
            </div>

        </div>

    </div>
    
    <div class="ui segment">
        <div class="ui blue icon button">
            <i class="save icon"></i>
        </div> 
    </div>

</div>
