<div class="ui segments">

    <div class="ui segment">
        <h1>ანგარიშები</h1>
    </div>

    <div class="ui segment">
        
        <div class="table-header">
            <span>ანგარიშები</span>
            
            <div class="ui icon button">
                <i class="plus icon"></i>
            </div> 
        </div>
        
        <table>
            <thead>
                <th>მფლობელი</th>
                <th>სახელი</th>
                <th>თანხა</th>
                <th></th>
            </thead>
        
            <tbody>
                <tr>
                    <td> none </td>
                    <td> none </td>
                    <td> none </td>
                    <td>
                        <div class="trash button icon">
                            <i class="trash no-margin icon"></i>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
