<bg-loader *ngIf="unauthorizedService.isLoading"></bg-loader>
<div class="ui segments">

    <div class="ui segment">
        <h1>ანგარიშები</h1>
    </div>

    <div class="ui segment">
        
        <div class="table-header">
            <span>ანგარიშები</span>
            
            <div [routerLink]="['/krn/accounts/create']" routerLinkActive="active" class="ui icon button">
                <i class="plus icon"></i>
            </div> 
        </div>
        
        <table>

            <div class="table-footer" *ngIf="!accounts.length">
                <p>ჩანაწერი ვერ მოიძებნა</p>
            </div>

            <table *ngIf="accounts.length">
                <thead>
                    <th>მფლობელი</th>
                    <th>სახელი</th>
                    <th>თანხა</th>
                    <th></th>
                </thead>
            
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td> {{ account.clientFirstName + " " + account.clientLastName }} </td>
                        <td> {{ account.accountName }} </td>
                        <td> {{ account.amount | styleNumber }} </td>
                        <td>
                            <div class="trash button icon" (click)="removeAccount(account.accountKey)">
                                <i class="trash no-margin icon"></i>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>

        </table>

    </div>

</div>
